# Core Settings
APP_NAME="FastAPI Template"
APP_VERSION="0.1.0"
DEBUG=true
HOST="127.0.0.1"
PORT=8000

# Database Settings
# Format: postgresql+asyncpg://<username>:<password>@<host>:<port>/<dbname>
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/fastapi_db"
